:root {
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;
  --size-000: -0.5rem;
  --size-00: -0.25rem;
  --clr-0: #f8f9fa;
  --clr-1: #f1f3f5;
  --clr-2: #e9ecef;
  --clr-3: #dee2e6;
  --clr-4: #ced4da;
  --clr-5: #adb5bd;
  --clr-6: #868e96;
  --clr-7: #495057;
  --clr-8: #343a40;
  --clr-9: #212529;
  --clr-10: #16191d;
  --clr-11: #0d0f12;
  --clr-12: #030507;
}
.color0 {
  color: var(--clr-0);
}
.color1 {
  color: var(--clr-1);
}
.color2 {
  color: var(--clr-2);
}
.color3 {
  color: var(--clr-3);
}
.color4 {
  color: var(--clr-4);
}
.color5 {
  color: var(--clr-5);
}
.color6 {
  color: var(--clr-6);
}
.color7 {
  color: var(--clr-7);
}
.color8 {
  color: var(--clr-8);
}
.color9 {
  color: var(--clr-9);
}
.color10 {
  color: var(--clr-10);
}
.color11 {
  color: var(--clr-11);
}
.color12 {
  color: var(--clr-12);
}
.bg-color0 {
  background-color: var(--clr-0);
}
.bg-color1 {
  background-color: var(--clr-1);
}
.bg-color2 {
  background-color: var(--clr-2);
}
.bg-color3 {
  background-color: var(--clr-3);
}
.bg-color4 {
  background-color: var(--clr-4);
}
.bg-color5 {
  background-color: var(--clr-5);
}
.bg-color6 {
  background-color: var(--clr-6);
}
.bg-color7 {
  background-color: var(--clr-7);
}
.bg-color8 {
  background-color: var(--clr-8);
}
.bg-color9 {
  background-color: var(--clr-9);
}
.bg-color10 {
  background-color: var(--clr-10);
}
.bg-color11 {
  background-color: var(--clr-11);
}
.bg-color12 {
  background-color: var(--clr-12);
}
